<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Premere</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
</head>
<body>
  <body>
        <div class="container">
            <div class="row">
                <div class="col s12" >
                  <div class="card-panel white" >

                    <span >
                      <div class="center-align">
                      <img src="logo.png" alt="">
                      
                      </div>
                      <div class="center-align">
                            <div class="card-action">
                                <a href="/about">Whats Premere?</a> -
                                <a href="/location">Pickup Locations</a> -
                                <a href="/pricing">Pricing</a> -
                                <a href="/">Book a Printout</a>                  
                                            </div>
                              </div>
                    </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col s12" >
                  <div class="card-panel darken-1" >

                    <span >
                            <table>
                                    <thead>
                                      <tr>
                                          <th>Abode</th>

                                          <th>UB</th>
                                          
                                          <th>Estancia</th>
                                      </tr>
                                    </thead>
                            
                                    <tbody>
                                      <tr>
                                        <td>  <a href="https://www.google.com/maps?q=12.8176483,80.0392884">See Location on Map</a> </td>
                                        <td> <a href="https://www.google.com/maps/search/University+Building/@12.8234206,80.0417993">See Location on Map</a></td>
                                          <td> <a href="https://www.google.com/maps/place/12%C2%B049'38.6%22N+80%C2%B002'56.6%22E/@12.8273881,80.0468782,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d12.8273881!4d80.0490669?hl=en">See Location on Map</a></td>
                                      </tr>
                                    </tbody>
                                  </table>

                    </span>
                  </div>
                </div>
              </div>


              
                    
        </div>
      </body>
            


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <p align="center">
FOR SPECIAL DISCOUNTS ON BULK ORDERS PLEASE CALL US AT +91 7904235765.
</p>
</body>
</html>
