<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1></h1>
    <p>Welcome to </p>
    <form method="post" enctype="multipart/form-data">
      Name:<br>
      <input type="text" name="name" >
      Email ID:<br>
      <input type="text" name="email" >
      Mobile No.:<br>
      <input type="text" name="email">
      Upload Image<br>
      <input type="file" name="xerox" >
      <input type="submit" name="xerox" value="Upload Image">
    </form>
  </body>
</html>